* {
    box-sizing: border-box;
}

:root {

    --amarelo-tesouro: rgb(255,213,0);
    --verde-tesouro: rgb(50,156,50);
    --azul-tesouro: rgb(0,74,147);

    /* vão ser atualizados pelo JS

    --gap: 0;
    --l: 0;

    */
}

body {

    /*background-color: var(--verde-tesouro);*/

    font-family: Rubik;
    margin: 0;

}

.abertura {

    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;

}

.abertura-inner {

    max-width: 600px;
    margin: 3rem auto;

}

.wrapper {

    border: 5px dashed #333;
    border-radius: 20px;
    padding: 1rem;
    max-width: 1000px;
    margin: 5vh auto;
    height: 90vh;

}

.svg-container {
    width: 100%;
    height: 100%;
}

svg {

    width: 100%;
    height: 100%;

}

path {
    /*fill : url(#pattern-receita);/*transparent;*/
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4px;
}

path.grande-numero {
    transition: transform .3s, opacity .3s;
}

path.grande-numero.escondido  {
    opacity: 0;
}

path[data-nome="receita"] {stroke: var(--amarelo-tesouro);}
path[data-nome="despesa"] {stroke: var(--verde-tesouro);}
path[data-nome="transferencias"] {stroke: firebrick;}
path[data-nome="resultado"] {stroke: var(--azul-tesouro);}

#pattern-receita > rect { fill: var(--amarelo-tesouro); }
#pattern-despesa > rect { fill: var(--verde-tesouro); }
#pattern-transferencias > rect { fill: firebrick; }
#pattern-resultado > rect { fill: var(--azul-tesouro); }

/*
rect {

    fill: pink;

}
*/