* {
    box-sizing: border-box;
}

:root {

    --amarelo-tesouro: rgb(255,213,0);
    --verde-tesouro: rgb(50,156,50);
    --azul-tesouro: rgb(0,74,147);
    --vermelho: #80140D;

    --cor-texto: #333;

    --cor-transf: #9C782A;
    --cor-desp: var(--verde-tesouro);
    --cor-rec: var(--amarelo-tesouro);
    --cor-resultado: var(--vermelho);
    --cor-meta: crimson;

    --font: Rubik;

    /* vão ser atualizados pelo JS

    --gap: 0;
    --l: 0;

    */
}

html {
    scroll-behavior: smooth;
}

body {

    /*background-color: var(--verde-tesouro);*/

    font-family: var(--font);
    line-height: 1.3;
    margin: 0;

    overflow: hidden;

}

.loading {
    font-size: 1rem;
    letter-spacing: .1em;
    font-weight: lighter;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
    margin-top: 1rem;

}

.loading-pronto {
    transition: opacity .3s;
    opacity: 0;
    font-weight: normal;
}

.setinha {
    opacity: 0;
    font-size: 2rem;
    text-align: center;
    color: white;
    margin-top: .5rem;
    margin-bottom: 2rem;
    transition: opacity .5s;
}

.abertura-inner p.small {
    font-size: .8rem;
    line-height: 1.6;
    color: #444;
}

[data-ready="sim"] .setinha {
    opacity: 1;
    animation: puxa 2s 1s infinite; 
}

@keyframes puxa {

    0% {
        transform: translateY(-15%);
    }

    30% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(-15%);
    }

}

[data-ready="sim"] .loading-pronto {

    opacity: 1;

}

[data-ready="sim"] {

    overflow: initial;
} 

.cover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.cover h1 {
    font-family: Girassol;
    font-size: 4rem;
    color: transparent;
    background-image: url(./media/arte-mari.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 90%;
    max-width: 800px;
    margin: 0;
}

.cover img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
}

.abertura h2 {
    margin-top: 0;
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
}

.abertura {

    background-color: cornsilk;
    padding: 0 10px;
    padding-bottom: calc(5vh + 1rem);

}

.abertura-inner {

    max-width: 600px;
    margin: 0 auto;

}

.abertura-inner p {
    font-size: 1.25em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.abertura-inner p:first-child {
    margin-top: 0;
    padding-top: 3rem;
}

.abertura-inner p:last-child {
    margin-bottom: 0;
}

.scroller-wrapper {

    padding: 1rem;
    max-width: 1000px;
    margin: 5vh auto;
    /*height: 90vh;*/

    position: relative;

}

.svg-container {

    border: 5px dashed #333;
    border-radius: 20px;
    width: 100%;

    position: sticky;
    top: 5vh;
    /*bottom: 5vh;*/
    height: 90vh;
    left: 0;
    z-index: -1;


}

/* * * * * * 
 * * SVG * * 
 * * * * * */

svg {

    width: 100%;
    height: 100%;

}

path {
    /*fill : url(#pattern-receita);/*transparent;*/
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4px;
}

path.grande-numero:not(.item) {
    transition: transform .3s, opacity .3s;
}

path.esmaecido  {
    opacity: 0.5;
}

path.escondido  {
    opacity: 0;
}

path[data-nome="receita"] {stroke: var(--cor-rec);}
path[data-nome="despesa"] {stroke: var(--cor-desp);}
path[data-nome="transferencias"] {stroke: var(--cor-transf);}
path[data-nome="resultado"] {stroke: var(--cor-resultado);}
path[data-nome="meta"] {
    stroke: var(--cor-meta);
    stroke-dasharray: 8;
}

path.item {

    stroke: white;
    /*fill: rebeccapurple;*/
    transition: stroke-width .3s, opacity .3s, stroke .3s, filter .3s;
}

[data-mode="explore"] .item.bolha:hover {
    stroke: #333;
    stroke-width: 3px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: white;
    pointer-events: none;
    transition: opacity .3s;
}

.overlay.active {
    opacity: .5;
    pointer-events: initial;
}

[data-mode="explore"] .overlay {
    
}

path[data-tipo="item-despesa"] {
    fill: var(--cor-desp);
}

path[data-tipo="item-receita"] {
    fill: var(--cor-rec);
}

path.item.bolha {
    stroke-width: 0;
}


#pattern-receita > rect { fill: var(--cor-rec); }
#pattern-despesa > rect { fill: var(--cor-desp); }
#pattern-transferencias > rect { fill: var(--cor-transf); }
#pattern-resultado > rect { fill: var(--cor-resultado); }
#pattern-meta > rect { fill: transparent; }

/* eixo */
.axis path {
    stroke-width: 1px;
}

.axis text {
    font-family: var(--font);
}

/*
rect {

    fill: pink;

}
*/

.controle {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    flex-direction: column;
    align-items: flex-start;
    top: 1rem;
    left: 1rem;
}

.controle button {
    text-align: left;
    border: none;
    margin-bottom: .25em;
    background-color: #333;
    color: yellow;
    line-height: 1;
    display: inline;
    width: unset;
    cursor: pointer;
    border-radius: 10px;
    padding: .4em .75em;
    font-family: monospace;
}

/* = = = = = = = = =
   SCROLLER
   = = = = = = = = = */

article.steps-scroller {
    transition: opacity .5s;
}

.scroller-wrapper[data-mode="explore"] article.steps-scroller {
    opacity: 0;
    pointer-events: none;
    z-index: -2; 
}

.scroller-wrapper[data-mode="explore"] .svg-container {
    z-index: 1;
}

.step-wrapper {
    height: 100vh;
}

.step {
    max-width: 320px;
    border: 4px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px lightgrey;
    padding: 0 1em;
    background-color: whitesmoke;
    line-height: 1.5;
}

.step.direita {
    margin-left: auto;
}

.step.esquerda {
    margin-right: auto;
}

.step.centro {
    margin-left: auto;
    margin-right: auto;
}

.termo-tecnico {
    background-color: black;
    color: whitesmoke;
    padding: 0.15em;
    border-radius: 0.3em;

}

[data-tipo-termo="receita"] {

    color: var(--cor-texto);
    background-color: var(--cor-rec); 

}

[data-tipo-termo="despesa"] {

    /*color: var(--cor-texto);*/
    background-color: var(--cor-desp); 

}

[data-tipo-termo="transferências"] {

    /*color: var(--cor-texto);*/
    background-color: var(--cor-transf); 

}

[data-tipo-termo="resultado"] {

    /*color: var(--cor-texto);*/
    background-color: var(--cor-resultado); 

}

[data-tipo-termo="meta"] {

    /*color: var(--cor-texto);*/
    border: 2px dashed var(--cor-meta); 
    background-color: transparent;
    color: var(--cor-meta);

}

[data-tipo-valor] { font-weight: bold; }
[data-tipo-valor="resultado"] {color: var(--cor-resultado);}
[data-tipo-valor="meta"] {color: var(--cor-meta);}
[data-tipo-valor="receita"] {color: var(--cor-receita);}
[data-tipo-valor="despesa"] {color: var(--cor-despesa);}

/* * * * * * * *
V I Z
* * * * * * */

.info-tip-acrescimo,
.info-tip-reducao {
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: opacity .3s;
    width: 150px;
    max-width: 35%;
    font-size: .8rem;
    font-weight: lighter;
    padding: 1rem;
}

.info-tip-acrescimo {
    right: 0;
    text-align: right;
}

.info-tip-reducao {
    left: 0;
    text-align: left;
}

.scroller-wrapper[data-mode="explore"] .info-tip-acrescimo,
.scroller-wrapper[data-mode="explore"] .info-tip-reducao {
    opacity: 1;
}

.titulo-eixo {
    position: absolute;
    top: 2rem; /* vai ser definido pelo JS */
    right: 0;
    left: 0;
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    margin-top: .5rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.titulo-eixo p {
    margin: 0;
    margin-left: auto;
    text-align: center;

}

select#modo-variacao {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 5px;
    font-weight: 500;
}



/* * * * * * * *
   B U T T O N S
 * * * * * * * */

.btn-explore, .btn-story {
    margin: 1rem auto 2rem;
    max-width: 200px;
    display: block;
    padding: 0.5em;
    border-radius: 5px;
    font-size: .9rem;
    font-family: inherit;
    /* font-weight: bold; */
    border-width: 3px;
    background-color: crimson;
    color: white;
    border-color: lightcoral;
}

.btn-story {
    display: none;
    opacity: 0;
    transition: opacity .5s;    
}

/* * escondendo o botão "Retornar à história" porque ficou meio confuso 
.scroller-wrapper[data-mode="explore"] .btn-story {
    display: initial;
    opacity: 1;
}
*/

/* * * * * * * *
   T O O L T I P
 * * * * * * * * */

.info-card.invisivel, .tooltip.invisivel {
    display: none;
}

.info-card {
    position: absolute;
    border: 3px solid var(--cor-info-card);
    padding: 1rem;
    background-color: ghostwhite;
    width: 400px;
    max-height: 90vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--cor-info-card);

}

.tooltip {
    position: absolute;
    max-width: 250px;
    padding: 1rem;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 2px solid var(--cor-tt-card);
    font-size: .8em;
    color: var(--cor-texto);
    pointer-events: none;
 }

.tooltip .tt-nome {
    font-weight: bold;
}

.info-card p,
.tooltip p {
    margin: 0;
}

.ic-btn-fechar {
    text-transform: uppercase;
    letter-spacing: .1em;
    position: absolute;
    border: none;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    font-size: 2rem;
}

.ic-btn-fechar:hover {
    color: firebrick;
}

[data-tt-tipo="Receita"] { --cor-tt-card: var(--cor-rec); }
[data-tt-tipo="Despesa"] { --cor-tt-card: var(--cor-desp);}

[data-info-card-tipo="Receita"] { --cor-info-card: var(--cor-rec); }
[data-info-card-tipo="Despesa"] { --cor-info-card: var(--cor-desp); }

.ic-titulo-nome {
    padding-top: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.ic-titulo-valor {
    font-weight: bold;
}

.ic-titulo-tipo::after,
.tt-tipo::after {
    display: inline-block;
    /*border-radius: .5em;
    padding: .25em .5em;
    font-size: .8rem;*/
    letter-spacing: .1em;
    padding: 0.1rem 0.2rem;
    border-radius: 0;
    font-size: .6rem;
    text-transform: uppercase;
    
}

p.ic-variacao {
    font-size: .8em;
    margin-top: 1rem;
}

/*
.tt-tipo::after {
    padding: 0.1rem 0.2rem;
    border-radius: 0;
    font-size: .6rem;
    text-transform: uppercase;
}*/

.ic-mini-viz {
    margin-top: .5rem;
}

.ic-mini-viz-label-reav,
.ic-mini-viz-label-loa {
    margin-bottom: 0;
    padding-top: .5rem;
    font-size: .8rem;
    transition: width .4s;
}

.ic-mini-viz-bar-loa,
.ic-mini-viz-bar-reav {

    height: 1rem;
    background-color: var(--cor-info-card);

}

[data-info-card-tipo="Receita"] .ic-titulo-tipo::after,
[data-tt-tipo="Receita"] .tt-tipo::after {
   background-color: var(--cor-rec);
   content: 'Receita'
}

[data-info-card-tipo="Despesa"] .ic-titulo-tipo::after,
[data-tt-tipo="Despesa"] .tt-tipo::after {
   background-color: var(--cor-desp);
   color: white;
   content: 'Despesa'
}

[data-info-card-tipo="Receita"] .ic-titulo-nome {
     color: var(--cor-rec);
 }

[data-info-card-tipo="Despesa"] .ic-titulo-nome {
    color: var(--cor-desp);
}

.icon-variacao-aumento, 
.icon-variacao-diminuicao {
    /*border-radius: 50%;
    background-color: #333;
    color: white;
    width: 1em;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    height: 1em;*/
}

[data-tipo-variacao="aumento"] .icon-variacao-diminuicao {
    display: none;
}
[data-tipo-variacao="diminuicao"] .icon-variacao-aumento {
    display: none;
}

.ic-justificativa {
    font-size: .8rem;
    font-weight: lighter;
    margin-top: 1rem;
}

.ic-justificativa-title {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: .5rem;
}

.ic-justificativa-texto {
    font-weight: lighter;
}


/* RESUMO */

select#resumo-tipo {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    border: 2px solid currentColor;
    border-radius: 5px;
    font-weight: 500;
}

.viz-resumo {
    position: relative;
    height: calc( (.8rem * 1.5 + 2.25rem ) * 6 );
}

.viz-resumo > div {
    width: 100%;
    transition: transform .3s;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY( calc( 100% * var(--pos) ) );
}

.viz-resumo-container-rec-loa,
.viz-resumo-container-rec-reav {
    --cor-atual: var(--cor-rec);
}

.viz-resumo-container-desp-loa,
.viz-resumo-container-desp-reav {
    --cor-atual: var(--cor-desp);
}

.viz-resumo-container-result-loa,
.viz-resumo-container-result-reav {
    --cor-atual: var(--cor-resultado);
}

.container-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.bar {
    --bar-width: 1; /* vai ser alterado pelo JS */
    --bar-max-width: 80%;
    height: 1rem;
    background-color: var(--cor-atual);
    display: inline-block;
    width: calc( var(--bar-width) * var(--bar-max-width) );
}

.label-bar, .label-value {
    margin-bottom: 0;
    margin-top: 0;
    color: var(--cor-texto);
    font-weight: 500;
    font-size: .8rem
}

.label-bar {
    padding-top: .25rem;
}

.label-value {
    padding-left: 10px;
    font-weight: 400;
}

.viz-resumo-container-rec-loa { --pos: 0;}

[data-modo-resumo="resumo-recXdesp"] .viz-resumo-container-desp-loa { --pos: 1;}
[data-modo-resumo="resumo-recXdesp"] .viz-resumo-container-result-loa { --pos: 2;}
[data-modo-resumo="resumo-recXdesp"] .viz-resumo-container-rec-reav { --pos: 3.5;}
[data-modo-resumo="resumo-recXdesp"] .viz-resumo-container-desp-reav { --pos: 4.5;}
[data-modo-resumo="resumo-recXdesp"] .viz-resumo-container-result-reav { --pos: 5.5;}

[data-modo-resumo="resumo-lovaXreav"] .viz-resumo-container-rec-reav { --pos: 1;}
[data-modo-resumo="resumo-lovaXreav"] .viz-resumo-container-desp-loa { --pos: 2.5;}
[data-modo-resumo="resumo-lovaXreav"] .viz-resumo-container-desp-reav { --pos: 3.5;}
[data-modo-resumo="resumo-lovaXreav"] .viz-resumo-container-result-loa { --pos: 5;}
[data-modo-resumo="resumo-lovaXreav"] .viz-resumo-container-result-reav { --pos: 6;}


@media (max-width: 420px) {

    .cover h1 {
        font-size: 3rem
    }

    .info-card {
        width: 320px;
    }

    .scroller-wrapper[data-mode="explore"] .btn-story {
        display: block;
    }

}
